:root {
  --main-color: #1b1f3b;
  --font-color: #9dd1f1;
  --filter-black-to-font-color: invert(82%) sepia(9%) saturate(1458%)
    hue-rotate(171deg) brightness(95%) contrast(99%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
  font-family: Roboto;
  color: var(--font-color);
  text-decoration: none;
}

header {
  position: sticky;
  top: 0px;
  box-shadow: 0px 0px 5px 2px black;
  width: 100vw;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
}

.nav-bar {
  padding: 1%;
  display: flex;
  justify-content: space-between;
  min-width: 80vw;
  justify-self: center;
}

.nav-bar-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
  gap: 4em;
  align-self: flex-end;
  padding-left: 10vw;
}

.main-section {
  display: flex;
  justify-content: space-between;
  min-width: 80vw;
}

.intro-info > div {
  margin: 0.5em;
}

.feature-section {
  display: flex;
  flex-wrap: wrap;
  min-width: 80vw;
  gap: 3.5em;
  justify-content: space-between;
}

.feature-title {
  margin-bottom: 1em;
}

button {
  min-width: 7em;
  min-height: 2em;
  border-radius: 1em;
  background-color: var(--font-color);
  color: var(--main-color);
  border: none;
  transition: opacity 0.5s;
}

button:hover {
  opacity: 0.7;
}

/*
###########################################################################################################################

                                                  CSS for Form

###########################################################################################################################
*/

fieldset {
  border: var(--font-color) solid 0.5em;
  border-radius: 1em;
  padding: 10%;
}

fieldset > div > * {
  font-size: larger;
}

fieldset > div {
  margin: 1em;
}

.checkbox-option-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

div > input,
textarea {
  border: var(--font-color) solid 0.25em;
  border-radius: 1em;
}

textarea {
  min-width: 10vw;
  resize: none;
}

input[type='checkbox'] {
  font: inherit;
  accent-color: var(--font-color);
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid var(--font-color);
  border-radius: 0.15em;
}

/*
###########################################################################################################################

                                                  CSS for Projects

###########################################################################################################################
*/
.social-icon-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  column-gap: 1em;
  padding-top: 5vh;
}
.sprite {
  background-image: url(sprite-icon.png);
  background-repeat: no-repeat;
  display: block;
  background-color: transparent;
  filter: var(--filter-black-to-font-color);
}

.sprite-discord {
  width: 240px;
  height: 240px;
  background-position: 0 0;
}

.sprite-email {
  width: 240px;
  height: 240px;
  background-position: 0 -240px;
}

.sprite-github {
  width: 240px;
  height: 240px;
  background-position: 0 -480px;
}

.sprite-linkedin {
  width: 240px;
  height: 240px;
  background-position: 0 -720px;
}

.sprite-indeed {
  width: 256px;
  height: 256px;
  background-position: 0 -960px;
}

.social-icon-list-wrapper {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 10vh;
}

.social-icon-body {
  display: contents;
}
